.brand-logo { 
	margin-left: 10px;
 }

.header {
	font-family: 'Cabin', sans-serif;
	margin-bottom: 0px;

}

.subheader {
font-family: 'Cabin', sans-serif;
padding-left: 70px;
font-size: 35px; 
margin-top: 10px;
margin-bottom: 25px;
}

/*blockquote {
	font-family: 'Cabin', sans-serif;
	border-left: 5px solid #d84315;
	color: #737373;
}*/

p { 
	line-height: 1.5;
	font-size: 17px;
	font-family: 'Old Standard TT', serif;
	

 }

.author {
	font-family: 'Old Standard TT', serif;
	margin-top: 25px;
	padding-top: 40px;
}

nav { 
	font-family: 'Cabin', sans-serif;
 }

blockquote{
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  
  /*Font*/
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: #666;
  text-align: justify;
  
  /*Borders - (Optional)*/
  border-left: 15px solid #c76c0c;
  border-right: 2px solid #c76c0c;
  
  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: 'Cabin', sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}

blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover{
 color: #666;
}

blockquote em{
  font-style: italic;
}

figcaption {
	color: #c76c0c;
	font-family: 'Cabin', sans-serif;
	padding:15px 0px 15px 0px;
	width: 650px; 
	text-align: left;
	font-size: 13px;
}

.init-cap { 
    float: left;
    font-size: 84px;
    line-height: 62px;
    /* margin-top: -13px; 
    padding: 0px 8px 0px 0px;

 }*/

}

.open {
	padding-top: 25px;
}

.brand-logo:hover{
	transition: all: 2s;
	color: #999;
}
.options:hover{
	transition: all: 2s;
	color: #999;
}

.slides li img { 
	filter: brightness(60%);
 }

